ENV=dev
STRICT_ENV_GUARD=1
TIMING_YEAR_MODE=legacy
FORCE_REFRESH=0
WRITE_LEGACY_MILESTONES=0
READMODEL_TTL_MINUTES=9
PREFLIGHT_TOP_ROWS=50
FULL_SYNC_INTERVAL_HOURS=24

# Dev contour: read from source, write to test target.
SOURCE_SHEET_NAME=Спонсорские ТНТ
TARGET_SHEET_NAME=Спонсорские ТНТ ТЕСТ

WEB_DOMAIN=solofarm.ru
API_DOMAIN_TEST=dtm-api-test.solofarm.ru
API_DOMAIN_PROD=dtm-api.solofarm.ru
YC_API_GATEWAY_TEST_NAME=dtm-api-test
YC_API_GATEWAY_TEST_ID=
YC_API_CERTIFICATE_ID_TEST=
