pandas
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gspread
oauth2client
aiohttp
pytz
python-telegram-bot==22.7
python-dotenv
httpx==0.28.1
openai
boto3
ydb
PyYAML
protobuf
python-snappy
